In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("movies_2.csv")

## Assess Data
the number of rows and columns present in the data set (shape of the dataframe)

columns present in the data set, along with the data type (info method or dtypes method)

check for MPAA Rating, Budget, Gross, Release Date, Genre, Runtime, Rating and Rating Count columns how many NaN we have

understanding which kind of information each column represents

In [2]:
print("Rows, columns: ", df.shape)
print(df.info())

Rows, columns:  (616, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB
None

In [3]:
print("Empty fields: \n", df.isna().sum())

Empty fields:
 MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64

# Clean Data

## Irrelevant data

In [4]:
# Get rid of the Summary column (use the drop() method)

df = df.drop(['Summary'], axis=1)   # axis 1 is columns https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

## Standardise

In [5]:
# use the rename method to change all columns names lowercase and add an underscore if they are made of 2 words

df = df.rename(columns={"MovieID": "movieid", "Title": "title", "MPAA Rating": "mpaa_rating", "Budget" : "budget", "Gross" : "gross", "Release Date" : "release_date", "Genre" : "genre", "Runtime" : "runtime", "Rating" : "rating", "Rating Count" : "rating_count"})

#### Confusion: thought this was an in-place method but it's not, must reassign or use inplace=True param
#
# # i think this is better though (from documentation) df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

## Missing values

In [6]:
# Drop: Get rid of the last row, the one containing NaN for each column 
# (use drop() method and row index)

df.drop([615], inplace=True)

In [7]:
# Impute: use the median (rather than mean because of skewness) to replace the missing values for the Rating column
# use fillna(): Fill in NA/NaN values using a specified method. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

df["rating"].fillna(value=df["rating"].median(), inplace=True)

# use the same method for rating_count

df["rating_count"].fillna(value=df["rating_count"].median(), inplace=True)

display(df)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5

## Duplicates

In [8]:
# Drop the duplicates, if any - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html

duplicates = df[df.duplicated(subset=['title'])] # first check for duplicates with df.duplicated()
display(duplicates)

df.drop_duplicates(subset='title', keep='first', inplace=True) ## Note: needs keep param in order to delete anything
display(df)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
249,250,Jurassic Park III,PG-13,93000000.0,3.687808e+08,2001-07-18,Adventure,92.0,5.9,280110.0
501,502,Teenage Mutant Ninja Turtles,PG-13,125000000.0,4.772000e+08,2014-08-07,Action,101.0,5.8,194073.0
504,505,Godzilla,PG-13,160000000.0,5.290761e+08,2014-05-14,Thriller,123.0,6.4,359438.0
565,566,Beauty and the Beast,PG,160000000.0,1.262886e+09,2017-03-16,Drama,129.0,6.9,240347.5
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,6.9,240347.5
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
608,609,Captain Marvel,PG-13,175000000.0,1.128000e+09,2019-02-27,Action,124.0,6.9,240347.5
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5

## Type conversion

Make sure numbers are stored as numerical data types. A date should be stored as a date object, or a Unix timestamp (number of seconds, and so on.

* Convert Budget into integer type (use astype() method)

* Convert Gross into integer type

* Convert Release Date into date type (use to_datetime method)

In [9]:
# Convert Budget into integer type (use astype() method) https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html

df = df.astype({'budget': 'int64'})   ## also does not happen inplace, and has no inplace param (per doc), so reassigned

# Convert Gross into integer type
df = df.astype({'gross': 'int64'})

display(df)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000,296000000,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
608,609,Captain Marvel,PG-13,175000000,1128000000,2019-02-27,Action,124.0,6.9,240347.5
610,611,Godzilla: King of the Monsters,PG-13,200000000,385900000,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000,1062000000,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,759400000,2019-07-13,Thriller,136.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5

In [10]:
# Convert Release Date into date type (use to_datetime method) https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html#
## to_datetime does not always convert dtype to datetime64, it depends on the input type

#pd.to_datetime(df['release_date']) # also displays dtype- it worked

df['release_date'] = pd.to_datetime(df['release_date'])
display(df)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000,296000000,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
608,609,Captain Marvel,PG-13,175000000,1128000000,2019-02-27,Action,124.0,6.9,240347.5
610,611,Godzilla: King of the Monsters,PG-13,200000000,385900000,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000,1062000000,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,759400000,2019-07-13,Thriller,136.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5

# Exploratory Data Analysis

## Greater than...


show the movies with more than 7 in Rating & greater than 50 million Gross

In [11]:
df.loc[(df.rating > 7) & (df.gross > 50000000)]

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
6,7,When Harry Met Sally...,R,16000000,92800000,1989-07-21,Romance,96.0,7.6,180871.0
...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000,652105443,2014-10-24,Animation,102.0,7.8,380953.0
506,507,Interstellar,PG-13,165000000,675120017,2014-11-05,Science Fiction,169.0,8.6,1343549.0
507,508,Captain America: The Winter Soldier,PG-13,170000000,714766572,2014-03-20,Action,136.0,7.7,685903.0
508,509,Dawn of the Planet of the Apes,PG-13,170000000,710644566,2014-06-26,Science Fiction,130.0,7.6,395425.0
509,510,Guardians of the Galaxy,PG-13,170000000,773328629,2014-07-30,Action,121.0,8.0,978222.0


show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating

In [12]:
df.loc[(df.mpaa_rating == 'PG') & (df.gross > 50000000)]

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
5,6,Uncle Buck,PG,15000000,79258538,1989-08-16,Family,100.0,7.0,77659.0
7,8,Dead Poets Society,PG,16400000,235860116,1989-06-02,Drama,129.0,8.1,382002.0
...,...,...,...,...,...,...,...,...,...,...
600,601,The Secret Life of Pets 2,PG,80000000,429400000,2019-05-24,Animation,86.0,6.9,240347.5
602,603,The LEGO Movie 2: The Second Part,PG,99000000,191300000,2019-02-07,Animation,107.0,6.9,240347.5
604,605,How to Train Your Dragon: The Hidden World,PG,129000000,519900000,2019-01-03,Animation,104.0,6.9,240347.5
605,606,Pokemon Detective Pikachu,PG,150000000,431600000,2019-05-03,Mystery,104.0,6.9,240347.5
607,608,Dumbo,PG,170000000,353000000,2019-03-11,Adventure,112.0,6.9,240347.5


count of Animation movies with more than 7 in Rating (use the shape() function)

In [13]:
df.loc[(df.gross > 50000000) & (df.genre == 'Animation')].shape   
## added .shape on the end and it just worked (instead of making new variable)

(87, 10)

## Top...


show the list of top 5 movies based on Budget

In [14]:
df.nlargest(5, 'budget', keep='all') ## keep=all used, otherwise same budgets would have been excluded as duplicates

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,961000000,2007-05-19,Adventure,169.0,7.1,565402.0
573,574,Justice League,PG-13,300000000,657900000,2017-11-15,Action,120.0,6.9,240347.5


show the top 5 Comedy movies by Rating

In [15]:
df.loc[(df.genre == 'Comedy')].nlargest(5, 'rating', keep='all')  ## use the whole df.loc statement directly in nlargest (in place of a DataFrame [df.nlargest]) 

## Note: outputs more than 5 because places are tied

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
111,112,Forrest Gump,PG-13,55000000,677945399,1994-07-06,Comedy,142.0,8.8,1657851.0
185,186,The Truman Show,PG,60000000,264118201,1998-06-04,Comedy,103.0,8.1,859224.0
80,81,Groundhog Day,PG,14600000,70906973,1993-02-11,Comedy,101.0,8.0,549538.0
254,255,"Monsters, Inc.",G,115000000,562816256,2001-11-01,Comedy,92.0,8.0,758349.0
40,41,Fried Green Tomatoes,PG-13,11000000,119418501,1991-12-27,Comedy,130.0,7.7,62493.0
164,165,As Good as It Gets,PG-13,50000000,314178011,1997-12-19,Comedy,139.0,7.7,258974.0
316,317,The 40 Year Old Virgin,R,26000000,109449237,2005-08-11,Comedy,116.0,7.7,500448.0
399,400,The Hangover,R,35000000,459270619,2009-06-05,Comedy,100.0,7.7,681246.0
477,478,We're The Millers,R,37000000,270000000,2013-08-03,Comedy,110.0,7.7,685903.0


top 5 movie names by Rating

In [16]:
df.nlargest(5, 'rating', keep='all')

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
393,394,The Dark Knight,PG-13,185000000,1004558444,2008-07-16,Action,152.0,9.0,2127228.0
83,84,Schindler's List,R,22000000,321365567,1993-11-29,History,195.0,8.9,1117322.0
98,99,Jurassic Park III,PG-13,93000000,368800000,2001-07-16,Thriller,92.0,8.9,1690474.0
99,100,Pulp Fiction,R,8000000,213928762,1994-09-10,Thriller,154.0,8.9,1690474.0
287,288,The Lord of the Rings: The Return of the King,PG-13,94000000,1118888979,2003-12-01,Fantasy,201.0,8.9,1529953.0


top 3 high Gross Romance movies released after 1999, not included (typecast it to datetime)

In [17]:
#attempt 1
#from datetime import datetime as dt
#df.loc[df.release_date > pd.to_datetime(1999-12-31) & (df.genre =="Romance")] #.nlargest(3, 'gross', keep='all')
### NOT WORKING

In [18]:
#attempt 2
df.loc[(df.release_date > pd.to_datetime('1999-12-12')) & (df.genre == 'Romance')].nlargest(3, 'gross', keep='all')  
# note: remember quotation marks also for date!

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000,829000000,2012-11-13,Romance,115.0,5.5,218357.0
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000,712171856,2011-03-15,Romance,117.0,4.9,211592.0
401,402,The Twilight Saga: New Moon,PG-13,50000000,709827462,2009-03-15,Romance,130.0,4.7,252223.0


top 5 expensive movies released after 1999, not included (measured by Budget)

In [19]:
df.loc[(df.release_date > pd.to_datetime('1999-12-12'))].nlargest(3, 'budget', keep='all')

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5

## Count


how many Genres are present in the dataframe? (use the function value_counts() which applies to Series[sic*], not Dataframe) 
* it *returns* a series, and does not count values, it's a tally

In [20]:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
#Return a Series containing counts of unique values. The resulting object will be in descending order 
#so that the first element is the most frequently-occurring element. Excludes NA values by default.

df_genre_count = df.value_counts(df.genre)  ## makes a list of frequency of genre
print(len(df_genre_count))                  ## print length

## better way: nunique()
df.genre.nunique()

16

16


most & least frequent MPAA Rating in the dataset in terms of occurances

In [35]:
#get rating counts as series, then extract from series
df_mpaa = df.value_counts(df.mpaa_rating).to_frame()
#display(series_mpaa)

#convert series back to frame, and name the 'count' column (default is 0)
#df_mpaa = series_mpaa.to_frame()  ### -> moved .to_frame to above and skipped the series variable
df_mpaa = df_mpaa.rename(columns = {0:'count'})
display(df_mpaa)

print('Most and least frequent MPAA ratings: \n', df_mpaa.iloc[[0, -1]])

             count
mpaa_rating
PG-13          282
PG             158
R              142
G               27

Most and least frequent MPAA ratings:
              count
mpaa_rating
PG-13          282
G               27

## Compare averages


most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)

In [34]:
df_budget_genre = df.groupby(['genre']).mean()[['budget']].astype(int) # group by genre, calculate means, select col budget, cast to int
## Note: budget was auto-converted from int64 to float64 because the mean is no longer an integer. 
# converted back (NB truncated not rounded) for ease of viewing

#display(df_budget_genre)                   ## check only
print(df_budget_genre.nsmallest(1, 'budget'))
print(df_budget_genre.nlargest(1, 'budget')) ## clunky. how to use iloc (?) to get just the genre name and print formatted?

          budget
genre
Horror  37004285
            budget
genre
Fantasy  160373076

/tmp/ipykernel_14094/680779529.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_budget_genre = df.groupby(['genre']).mean()[['budget']].astype(int) # group by genre, calculate means, select col budget, cast to int

which Genre is favored the most by the people?

In [23]:
#data not present